* {
    padding: 0;
    margin: 0;
}

.navegacion {
    background-color: #1a1a1a;
    color: #fff;
    height: auto;
}

.navegacion > ul {
    display: flex;
    list-style: none;
    height: 100%;
    justify-content: flex-start;

}

.navegacion > ul > li {
    margin: 7px 20px;
}

.navegacion > ul > li > a {
    text-decoration: none;
}

.img-icon {
    height: 30px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(1);
    transition: transform .3s ease, filter .3s ease;
}

.img-icon:hover {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(1.5);
    transform: scale(1.1);
}


body::selection {
    background-color: #08cfae;
    color:#fff;
}





.seccion__cabecera {
    height: 18vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 4px 8px  #d8d8d8;
}

.seccion__cabecera__titulo {
    font-size: 4em;
    margin-left: 50px;

    font-family: "Stack Sans Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

    width: 50%;
}
.seccion__cabecera__derecha {
    width: 50%;

    font-family: "Stack Sans Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    
    font-style: normal;
    display: flex;
    flex-direction: column;
}
.seccion__cabecera__derecha > div {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}




.seccion__cuerpo_uno {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(6, minmax(200px, 1fr));
    
    justify-items: center;
    gap:25px 10px;
}

.seccion__cuerpo_uno__caja {
    

    background-color: #f7f7f7;
    border: 2px solid #929292;
    border-radius: 10px;
    height: 100%;
    width: 220px;
    transition: transform .4s ease,color .4s ease;
    color: #363636;
    cursor: pointer;

    
}

.seccion__cuerpo_uno__caja:hover {
    transform: scale(1.05) rotate(2deg);
    color: #000000;
}




.seccion__cuerpo_uno__caja__marco {
    height: 150px;
    width: 100%;
    overflow: hidden;

    border-radius: 8px 8px 0px 0px;
    
    
    
}

.seccion__cuerpo_uno__caja__marco__img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: 50% 50%;
    transition: height 0.3s ease;
    

}

.seccion__cuerpo_uno__caja__titulo {

    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;

    border-bottom: 2px solid #929292;
    /* word-break:break-all; */

    margin: 5px 0;


}

.seccion__cuerpo_uno__caja__etiquetas {
    display: flex;
    flex-wrap: wrap;
}

.seccion__cuerpo_uno__caja__etiquetas__etiqueta {

    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;

    border: 1px solid #8d8d8d;
    border-left: 4px solid brown;
    border-radius: 5px;
    margin: 4px;
    padding: 2px;
    
}

.borde-anaranjado {
    border-left: 4px solid #d13711;
}

.borde-azul {
    border-left: 4px solid #2a47a5;
}

.borde-amarillo {
    border-left: 4px solid #e4e000;}


.seccion__cuerpo_uno__caja__pie {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    border-top: 2px solid #929292;
    align-items: center;

    padding: 5px;
}
.seccion__cuerpo_uno__caja__pie > div {
    width: 100%;
}

.seccion__cuerpo_uno__caja__pie__nivel {
    
    
}

.seccion__cuerpo_uno__caja__pie__activo {
    justify-content: flex-end;
    display: flex;
    margin-right: 10px;
}

.seccion__cuerpo_uno__caja__pie__activo > span {
    display: block;
    background: linear-gradient(to top, #04b90d, #5bff63);
    width: 20px;
    border-radius: 50%;
    
}

.contenedor {
  display: grid;
  grid-template-columns: repeat(6, minmax(200px, 1fr));
}

@media (max-width: 1200px) {
  .seccion__cuerpo_uno {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}

@media (max-width: 600px) {
  .seccion__cuerpo_uno {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
   
  }
}

@media (max-width:474px) {
    .seccion__cabecera__derecha {
        visibility: hidden;
    }
}
