* {
    padding: 0;
    margin: 0;
}

.navegacion {
    background-color: #1a1a1a;
    color: #fff;
    height: auto;
}

.navegacion > ul {
    display: flex;
    list-style: none;
    height: 100%;
    justify-content: flex-start;

}

.navegacion > ul > li {
    margin: 7px 20px;
}

.navegacion > ul > li > a {
    text-decoration: none;
}

.img-icon {
    height: 30px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(1);
    transition: transform .3s ease, filter .3s ease;
}

.img-icon:hover {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(1.5);
    transform: scale(1.1);
}


body::selection {
    background-color: #08cfae;
    color:#fff;
}





.seccion__cabecera {
    height: 18vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 4px 8px  #d8d8d8;
}

.seccion__cabecera__titulo {
    font-size: 4em;
    margin-left: 50px;

    font-family: "Stack Sans Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

    width: 50%;
}
.seccion__cabecera__derecha {
    width: 50%;

    font-family: "Stack Sans Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    
    font-style: normal;
    display: flex;
    flex-direction: column;
}
.seccion__cabecera__derecha > div {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}




.seccion__cuerpo_uno {
    min-height: 70vh;
    max-height: auto;
    margin: 50px 20px;
    display: grid;
    grid-template-columns: repeat(6, minmax(200px, 1fr));
    
    justify-items: center;
    gap:25px 20px;
}

.seccion__cuerpo_uno__caja {
    

    background-color: #f7f7f7;
    border: 2px solid #929292;
    border-radius: 10px;
    height: 380px;
    width: 220px;
    transition: transform .4s ease,color .4s ease;
    color: #363636;
    cursor: pointer;

    
}

.seccion__cuerpo_uno__caja:hover {
    transform: scale(1.05) rotate(2deg);
    color: #000000;
}




.seccion__cuerpo_uno__caja__marco {
    height: 150px;
    width: 100%;
    overflow: hidden;

    border-radius: 8px 8px 0px 0px;
    
    
    
}

.seccion__cuerpo_uno__caja__marco__img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: 50% 50%;
    transition: height 0.3s ease;
    

}

.seccion__cuerpo_uno__caja__titulo {

    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;

    border-bottom: 2px solid #929292;
    /* word-break:break-all; */

    margin: 5px 0;


}

.seccion__cuerpo_uno__caja__etiquetas {
    display: flex;
    flex-wrap: wrap;
}

.seccion__cuerpo_uno__caja__etiquetas__etiqueta {

    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;

    border: 1px solid #8d8d8d;
    border-left: 4px solid brown;
    border-radius: 5px;
    margin: 4px;
    padding: 2px;
    
}

.borde-anaranjado {
    border-left: 4px solid #d13711;
}

.borde-azul {
    border-left: 4px solid #2a47a5;
}

.borde-amarillo {
    border-left: 4px solid #e4e000;}


.seccion__cuerpo_uno__caja__pie {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    border-top: 2px solid #929292;
    align-items: center;

    padding: 5px;
}
.seccion__cuerpo_uno__caja__pie > div {
    width: 100%;
}

.seccion__cuerpo_uno__caja__pie__nivel {
    
    
}

.seccion__cuerpo_uno__caja__pie__activo {
    justify-content: flex-end;
    display: flex;
    margin-right: 10px;
}

.seccion__cuerpo_uno__caja__pie__activo > span {
    display: block;
    background: linear-gradient(to top, #04b90d, #5bff63);
    /* background: linear-gradient(to top, #ff8422, #ffef5b); */
    /* background: linear-gradient(to top, #0493b9, #5bffed); */
    width: 20px;
    border-radius: 50%;
    
}

.contenedor {
  display: grid;
  grid-template-columns: repeat(6, minmax(200px, 1fr));
}

/* SECCION DOS DE MI INFORMACION */
.seccion__cuerpo_dos {
    height: 100vh;
    background: linear-gradient(to top,#008cff,#0051ff);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.seccion__cuerpo_dos__caja {
    height: 80%;
    width: 80%;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 5px 4px 14px 0px #000000;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6,1fr);
}

.seccion__cuerpo_dos__caja__foto_e_info {
    grid-row: 1 / 7;
    grid-column: 1/ 3;
    background-color: #363636;
    border-radius: 25px 0 0 25px;
    color: #fff;
    box-sizing: border-box;

    
}

.seccion__cuerpo_dos__caja__foto_e_info__foto {
    box-sizing: border-box;
    border-radius: 25px 0 0 0;
    background-color: #1a1a1a;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.seccion__cuerpo_dos__caja__foto_e_info__foto__marco {
    border-radius: 50%;
    
    height: 190px;
    width: 190px;
    background-image: url("img/ok.png");
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: cover;
    background-color: wheat;
}


.seccion__cuerpo_dos__caja__foto_e_info__info {

    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 1.2em;

    padding: 8%;
    box-sizing: border-box;

    

}

.seccion__cuerpo_dos__caja__foto_e_info__tecnologias {
    grid-row: 1 / 7;
    grid-column: 3 / 7;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows: repeat(4,1fr);
}

/* AQUI LE DARE LSO TAMAÑOS A LAS IMAGENESS */

.tecnologia {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tecnologia > img {
    height: auto;
    width: 60px;
    transition: transform .4s ease;
    
}

.tecnologia > img:hover {
    transform: scale(1.1) rotate(-4deg);
    
}

/* Estado inicial: invisible y 20px más abajo */
.flotar {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Estado final: visible y en su posición original */
.flotar.visible {
    opacity: 1;
    transform: translateY(0);
}


@media (max-width: 1200px) {
  .seccion__cuerpo_uno {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}

@media (max-width: 600px) {
  .seccion__cuerpo_uno {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
   
  }
}

@media (max-width: 830px) {
  .seccion__cuerpo_dos__caja__foto_e_info {
    grid-column: 1/4;
    grid-row: 1/7;
    font-size: 0.9em;
   
  }
  


  .seccion__cuerpo_dos__caja__foto_e_info__tecnologias {
    grid-column: 4/7;
    grid-row: 1/7;
  }
}
@media (max-width:570px) {
    .seccion__cuerpo_dos__caja__foto_e_info__foto__marco {
        height: 110px;
        width: 110px;
    }
    .seccion__cuerpo_dos__caja__foto_e_info {
        font-size: 0.8em;
    }
}



@media (max-width:474px) {
    .seccion__cabecera {
        
    }
    .seccion__cabecera__titulo {
        margin-left: 0;
        width: 100%;
        text-align: center;
    }

    .seccion__cabecera__derecha {
        display: none;
    }
}

@media screen and (max-width: 450px) { 

    .seccion__cuerpo_dos__caja__foto_e_info {
        grid-row: 1/3;
        grid-column: 1/7;

        border-radius: 25px 25px 0 0;
    }
    .seccion__cuerpo_dos__caja__foto_e_info__foto__marco {
        height: 70px;
        width: 70px;
    }
    .seccion__cuerpo_dos__caja__foto_e_info__foto {
        border-radius: 25px 25px 0 0;
    }
    .seccion__cuerpo_dos__caja__foto_e_info__info {
        font-size: 1em;
        text-align: center;
    }

    .seccion__cuerpo_dos__caja__foto_e_info__tecnologias {
        grid-row: 3/7;
        grid-column: 1/7;
    }
}